.ingredient{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.killstyle {
  text-decoration: none;
  color: black;
}

.spacing_link {
  margin: 10px;
}
