.wrapper-recette {
  background-color: white;
  margin-top: 50px;
  border-radius: 8px;
  padding: 30px;
  height: 100vh;
}

.titre-recette{
  font-size: 30px;
}

.display{
  display: flex;
  align-items: center;
  width: 90% ;
}

.margin{
  margin: 20px;
}
