<div class="container">
  <div class="row">
    <div class="col-xs-2">
      Lundi
    </div>
    <div class="col-xs-2">
      Mardi
    </div>
    <div class="col-xs-2">
      Mercredi
    </div>
    <div class="col-xs-2">
      Jeudi
    </div>
    <div class="col-xs-2">
      Vendredi
    </div>
    <div class="col-xs-2">
      Samedi
    </div>
  </div>
</div>
