<div class="container">
  <div class="row">
    <% @h.each do |key, value| %>
      <% if !@notdisplayed.include? key %>
        <div class="col-xs-3">
         <%= value.ceil %> <%= key %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

